/* Adjust styling as needed */
.gif-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

/* Adjust styling for the search container */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
}

.search-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  cursor: pointer;
}
.card {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

/* Your other CSS styles */


/* Center the grid container when there are search results */
.centered-grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Rest of your CSS styles */

.card img {
  max-width: 100%;
  height: auto;
}

/* Add any additional styling you need */
