.login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #FAFAFA;
}

.login_box {
    background-color: #E0E6ED;
    height: 60vh;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.login input {
    width: 30vw;
    border: none;
    outline: none;
    padding: 10px 15px;
    /* border-radius: 20px; */
    margin: 10px;
    border-bottom: 2px solid #4CAF50;
    color: #4CAF50;
}

.login button {
    outline: none;
    padding: 10px 15px;
    border-radius: 20px;
    border: 2px solid white;
    margin: 5px;
    background-color: #12AFF1;
    color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login button div {
    display: flex;
    align-items: center;
}

.login button img {
    height: 30px;
    margin-left: 10px;
}

.extra_options {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
/*logout icon and logout button styles*/
.logout {
    position: relative;
    width: 10%;
    max-width: 100px;
    background-color: rgba(0, 0, 0, 0.725);
    color: rgb(0, 106, 255);
    font-size: 1rem;
    margin-top: -0.19rem;
    margin-left: -15px;
    padding: 0.5rem;
    overflow: hidden;
  }
  
  .logout-icon {
    vertical-align: middle; /* Align the image vertically within the button */
    margin-right: 0.5rem; /* Add some spacing between the image and text */
    max-height: 20px; /* Set a maximum height for the image */
    width: auto; /* Adjust the width of the image */
    height: 15px; /* Adjust the height of the image */
  }
/* .login_einput {}

.login_pinput {}

.login_btn {}

.login_googlebtn {} */